---
import OptimizedImage from "../utilities/OptimizedImage.astro";

const {
  image = "/images/testimonial/rebecca-rennolds.webp",
  alt = "A Great testimonial for BVSWebDesign",
  quote = "Steve is fantastic! He created a beautiful website for my skin clinic. The finished result looks extremely professional, slick and stylish. Steve couldn’t have been more accommodating and helpful. He went out of his way to make sure my website was just as I wanted! Thank you.",
  author = "Rebecca Rennolds",
  authorTitle = "Clinic Owner",
} = Astro.props;
---

<div class="grid grid-cols-1 gap-6 md:grid-cols-2">
  <div>
    <blockquote
      itemprop="review"
      itemscope
      itemtype="https://schema.org/Review">
      <p itemprop="reviewBody">
        {quote}
      </p>
      <footer class="mt-4">
        <p class="font-bold">{author}</p>
        <p class="text-sm text-gray-500">{authorTitle}</p>
      </footer>
    </blockquote>
  </div>
  <div class="border-primary transform border-3 p-8 md:mt-36 md:rotate-10">
    <OptimizedImage
      src={image}
      alt={alt}
      width={600}
      height={800}
      class="mb-6 h-auto w-full object-cover"
    />
  </div>
</div>
